{% extends 'base.html' %}
{% block content %}
<h2>Products</h2>

<form method="GET" class="mb-4">
    <input type="text" name="q" class="form-control" placeholder="Search by name or category" value="{{ query|default:'' }}">
</form>

<div class="row">
  {% for product in products %}
  <div class="col-md-4">
    <div class="card mb-4">
      {% if product.image %}
      <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" style="height:200px; object-fit:cover;">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">Name:{{ product.name }}</h5>
        <p class="card-text">Dec:{{ product.description|truncatechars:50 }}</p>
        <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">View</a>
        {% if user.is_superuser %}
        <a href="{% url 'delete_product' product.id %}" class="btn btn-danger">Delete</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
